AWS_PROFILE=""
AWS_REGION=""
GLUE_JOB_ROLE_ARN=""
# TODO: move to conversation-scoped script path:
# s3://glue-assets-554032904022-eu-central-1-an/strands-glue-pipeline-agent/scripts/<conversation_id>/<script_name>.py
GLUE_JOB_DEFAULT_SCRIPT_S3=""
GLUE_TEMP_DIR=""
MODEL_ID="eu.anthropic.claude-haiku-4-5-20251001-v1:0"
ATHENA_DATABASE=""
ATHENA_TABLE=""
